.about {
  background-image: url("https://image.freepik.com/free-photo/man-riding-bike-with-copy-space_23-2148775623.jpg");
  height: 40%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
