section {
  background-image: url("https://i.ibb.co/VBsWfHj/editorial-1920x1080-Bike-Landing-2017-2-responsive-pjpg-cache-on-on-wid-1200-hei-900-fit-constrain-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}
