.contact {
  background-image: url("https://image.freepik.com/free-photo/picture-cyclist-surrounded-by-foliage-trees-woods_181624-26667.jpg");
  height: 50%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
