.add-service form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add-service form input,
select,
textarea {
  width: 75%;
  margin-bottom: 10px;
}

input {
  
}